body
{
	background-color:lightblue;
}

	.login_div1 , .login_div2
	{
		background:lightgreen;
		padding: 10px;
		float: none;
		border-radius: 15px;
		width:500;
	}
button

{
	background-color:cyan;
	border-radius: 50px;
}

